-r requirements-dev.txt
pretty_midi>=0.2.11
pygame-ce==2.5.6  
imageio==2.37.2  # dernière version stable d’ImageIO :contentReference[oaicite:0]{index=0}  
imageio-ffmpeg==0.6.0  # wrapper ffmpeg pour ImageIO :contentReference[oaicite:1]{index=1}  
